//text
%bold {
    font-weight: bolder;
}


//align
%justContentCenter {
    justify-content: center;
}

%alignItemsCenter {
    align-items: center;
}

%alignContentCenter {
    align-content: center;
}

%directionColumn {
    flex-direction: column;
}