@import './../styles/helpers/variables.scss';
@import './../styles/helpers/mixins.scss';
@import './../styles/helpers/placeholders.scss';

.repo { 
    @media (min-width: 768px) {
        @include width(985px);
        border: 1px solid;
    }

        &-list {
        &__item {
            list-style: none;
            margin: 2.5px 25px;
        }
    }

    &__name {
        @include fontSize(14px);
        @extend %bold;
        color: $blue1;
        >span {
            font-weight: 100;
        }
    }

    &__description, 
    &__stars-count, 
    &__forks {
        color: $gray4;
        @include fontSize(10px);
    }   

    &__stars-count,
    &__forks {
        @include width(100px);
        @include fontSize(10px);
    }
    
    &__top {
        @include flexbox;
    }

    &__description {
        @include padding(7.5px 0);
    }

    &__language {
        &-img {
            @include width(10px);
        }
    }

    &__line {
        border: 1px solid #ccc;
        margin: 10px 0;
    }
}