@import './../../../../styles/helpers/variables.scss';
@import './../../../../styles/helpers/mixins.scss';
@import './../../../../styles/helpers/placeholders.scss';

label {
    @include width(275px);
    @include flexbox;
    @extend %justContentCenter;
    border: 1px solid #ccc;
    @include borderRadius(2px);
    margin: 25px;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }
}

img {
    @include margin(0 5px);
}